--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 

@charset "utf-8";

@import "minimal-mistakes/skins/dark"; // skin
@import "minimal-mistakes"; // main partials
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap'); // font

/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif: 'Nanum Gothic', -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Helvetica Neue',
  'Lucida Grande', Arial, sans-serif !default;
$monospace: 'Nanum Gothic', Monaco, Consolas, 'Lucida Console', monospace !default;

html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: $background-color;
  font-size: 14px;

  @include breakpoint($medium) {
    font-size: 14px;  // default 18px
  }

  @include breakpoint($large) {
    font-size: 16px;  // default 20px
  }

  @include breakpoint($x-large) {
    font-size: 18px;  // default 22px
  }

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}